//Variables
$mainAccent: #FC4349;
$fontColor: #2C3E50;
$bgColor: #ffffff;
$secondaryAccent: #6DBCDB;
$bgEmphasis: #D7DADB;

.col1, .col2{
	width:100%;
	float:left;
}

.image {
	background:url(images/lumia10201.jpg) no-repeat;
	width:100%;
}


@media (min-width: 700px){

}