<<<<<<< HEAD
.col1, .col2 {
  width: 100%;
  float: left; }

.image {
  background: url(images/lumia10201.jpg) no-repeat;
  width: 100%; }
=======
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
>>>>>>> 3216208c95eddd893b5180d486fe8699310b1cbd
